<?php if($this->getSticker()->getContent()):?>
<a id="k50-<?php echo $this->getSticker()->getPosition()?>" href="<?php echo $this->getUrl()?>" class="past"
   title="<?php echo $this->getSticker()->getImgTitle();?>" alt="<?php echo $this->getSticker()->getImgAlt();?>"
   target="_blank">
    <img src="<?php echo $this->getImage();?>" title="<?php echo $this->getSticker()->getImgTitle();?>" alt="<?php echo $this->getSticker()->getImgAlt();?>">
    <div class="number">
        <p><?php echo $this->getSticker()->getStaticText();?></p>
    </div>
</a>
<?php else:?>
    <p class="k50np" id="k50-np<?php echo $this->getSticker()->getPosition()?>"><img src="<?php echo $this->getImage();?>"
                                                                       alt="<?php echo $this->getSticker()->getImgAlt();?>"
                                                                       title="<?php echo $this->getSticker()->getImgTitle();?>">
    </p>
<?php endif; ?>