<div id="core">
    <div class="range-videos content-section video">
        <div class="wrapper">
            <h2>
        <span class="h-stroke">
          <span class="h-stroke-text"><?php echo $this->getSticker()->getName()?></span>
        </span>
            </h2>
            <?php echo $this->getSticker()->getContent()?>
<!--            <span class="h-tr h-28">Le 50ème anniversaire Kérastase</span>-->
<!--            <p>Inspirée par et pour les femmes partout dans le monde, la marque Kérastase fête cette année ses 50 ans. Plongez dans la saga de l’innovation en marche de Kérastase.</p>-->
<!---->
<!--            <div class="wrapper-inner">-->
<!--                <div class="video-main-container">-->
<!--                    <div class="btn btn-video full">-->
<!--                        <span class="i"></span><span class="btn-video-label h-tr">Voir la vidéo</span>-->
<!--                        <img src="includes/k50-1_1.png" alt="L'art du cheveu parfait">-->
<!--                    </div>-->
<!--                    <div id="keras-ans-50">-->
<!--                        <object width="820" height="464">-->
<!--                            <param name="movie" value="//www.youtube.com/v/ndGwN-vj3uo?hl=en_US&amp;version=3">-->
<!--                            <param name="allowFullScreen" value="true">-->
<!--                            <param name="allowscriptaccess" value="always">-->
<!--                            <embed src="//www.youtube.com/v/ndGwN-vj3uo?hl=en_US&amp;version=3&amp;autoplay=1" type="application/x-shockwave-flash" width="820" height="464" allowscriptaccess="always" allowfullscreen="true">-->
<!--                        </object>-->
<!--                    </div>-->
<!--                </div>-->
<!---->
<!--            </div>-->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.btn-video').click(function() {
                        $('.btn-video').fadeOut('slow', function() {
                            $("#keras-ans-50").css("display","block");
                        });
                    });
                });
            </script>
        </div>
        <!-- Back to calendar page -->
        <div class="calendar_page">
            <a title="Вернуться в календарь" alt="Вернуться в календарь" href="<?php echo $this->getParentLink()?>">
                Вернуться в календарь
            </a>
        </div>
    </div>
</div>
